<div class="cart-page-container">
    <div class="cart-page-header">
        <h1>Carrinho de Compra</h1>
    </div>
    <div class="cart-page-content" *ngIf="cartList.length > 0">
        <div class="cart-item-header cart-item-row">
            <div class="cart-item-cell cart-item-product"><span>Produto</span></div>
            <div class="cart-item-cell cart-item-quantity"><span>Quantidade</span></div>
            <div class="cart-item-cell cart-item-total"><span>Total</span></div>
            <div class="cart-item-cell cart-item-action"><span>Remover</span></div>
        </div>
        <div class="cart-item-row" *ngFor="let cart of cartList;let i = index">
            <div class="cart-item-cell cart-item-product">
                <img class="img-responsive" src="{{ cart.product.image }}">
                <div class="cart-item-info">
                    <div class="cart-item-brand">{{cart.product.name}}</div>
                    <div class="cart-item-title">{{cart.product.description}}</div>
                </div>
            </div>
            <div class="cart-item-cell cart-item-quantity">
                <quantity-control [quantity]="cart.quantity" (onChange)="changeQuantity(cart,$event)"></quantity-control>
            </div>
            <div class="cart-item-cell cart-item-total">
                <div class="item-price">
                    {{cart.quantity*cart.product.unitPrice | currency :'BRL':true }}
                </div>
            </div>
            <div class="cart-item-cell cart-item-action">
                <div class="item-remove" (click)="removeFromCart(i)">X</div>
            </div>
        </div>
        <div class="row cart-total">
            <div class="col-lg-offset-6">
                <div class="cart-total-row row">
                    <div class="col-md-6 cart-total-label">
                        Visão Geral 
                    </div>
                    <div class="col-md-6 cart-total-value"></div>
                </div>
                <div class="cart-total-row row">
                    <div class="col-md-6 cart-total-label">
                        subtotal
                    </div>
                    <div class="col-md-6 cart-total-value">
                        {{totalPrice | currency :'BRL':true}}
                    </div>
                </div>
                <div class="cart-total-row row">
                    <div class="col-md-6 cart-total-label">
                        total
                    </div>
                    <div class="col-md-6 cart-total-value cart-total-price">
                        {{totalPrice | currency :'BRL':true}}
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-buttons">
            <div class="continue-shopping"><a routerLink="/">Continue Comprando</a></div>
            <div class="checkout-button button button-primary button-large">Finalizar ({{totalPrice | currency :'BRL':true}})</div>
        </div>
    </div>
    <div class="cart-page-content" *ngIf="cartList.length == 0">
        <h4>Seu carrinho está vazio.</h4>
        <a routerLink="/">Fazer compras</a>
    </div>
</div>